
<form class="form-horizontal" name="employeeForm" novalidate>

    <fieldset>
        <legend style="text-align: center;">Basic Employee Info</legend>

        <div class="form-group" ng-class="{'has-error' : employeeForm.inputjobTitle.$invalid && employeeForm.inputjobTitle.$dirty}">
            <label class="col-md-2 control-label" for="inputjobTitle">Job Title</label>
            <div class="col-md-4">
                <input class="form-control" id="inputFirstName" name="inputjobTitle" type="text" placeholder="Job Title (required!)" ng-model="vm.employee.jobTitle" required ng-minlength="4" ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="employeeForm.inputjobTitle.$error.required">Employee's job title is required</span>
            </span>
        </div>

        <div class="form-group" ng-class="{'has-error' : employeeForm.inputFirstName.$invalid && employeeForm.inputFirstName.$dirty}">
            <label class="col-md-2 control-label" for="inputFirstName">First Name</label>
            <div class="col-md-4">
                <input class="form-control" id="inputFirstName" name="inputFirstName" type="text" placeholder="First Name (required!)" ng-model="vm.employee.firstName" required ng-minlength="4" ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="employeeForm.inputFirstName.$error.required">Employee first name is required</span>
                <span ng-show="employeeForm.inputFirstName.$error.minlength">Employee first name must be at least 4 characters in length</span>
                <span ng-show="employeeForm.inputFirstName.$error.maxlength">Employee first name cannot exceed 12 characters in length</span>
            </span>
        </div>

        <div class="form-group" ng-class="{'has-error' : employeeForm.inputLastName.$invalid && employeeForm.inputLastName.$dirty}">
            <label class="col-md-2 control-label" for="inputLastName">Last Name</label>
            <div class="col-md-4">
                <input class="form-control" id="inputLastName" name="inputLastName" type="text" placeholder="Last Name (required!)" ng-model="vm.employee.lastName" required ng-minlength="4" ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="employeeForm.inputLastName.$error.required">Employee last name is required</span>
                <span ng-show="employeeForm.inputLastName.$error.minlength">Employee last name must be at least 4 characters in length</span>
                <span ng-show="employeeForm.inputLastName.$error.maxlength">Employee last name cannot exceed 12 characters in length</span>
            </span>
        </div>

        <div class="form-group" ng-class="{'has-error' : employeeForm.inputEmail.$invalid && employeeForm.inputEmail.$dirty}">
            <label class="col-md-2 control-label" for="inputEmail">Email</label>
            <div class="col-md-4">
                <input class="form-control" id="inputEmail" name="inputEmail" type="text" placeholder="Email (required!)" ng-model="vm.employee.email" required />
            </div>
            <span class="help-block has-error">
                <span ng-show="employeeForm.inputEmail.$error.required">Employee's email is required</span>
                <span ng-show="employeeForm.inputEmail.$error.email">Employee's email is invalid</span>

            </span>
        </div>

        <div class="form-group" ng-class="{'has-error' : employeeForm.inputExtension.$invalid && employeeForm.inputExtension.$dirty}">
            <label class="col-md-2 control-label" for="inputExtension">Extension #</label>
            <div class="col-md-4">
                <input class="form-control" id="inputExtension" name="inputExtension" type="text" placeholder="Extension # (required!)" ng-model="vm.employee.extension" required ng-minlength="4" ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="employeeForm.inputExtension.$error.required">Employee extension # is required</span>
        </div>


        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary btn-sm" style=" margin-right: 10px" ng-click="vm.submit(employeeForm.$valid)" ng-disabled="employeeForm.$invalid">
                        <i class="glyphicon glyphicon-save"></i>
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default btn-sm"  ng-click="vm.cancel()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancel
                    </button>
                </span>
            </div>
        </div>

    </fieldset>


</form>